@import "../../global.scss";

.sticky {
  height: 70px !important;
  background-color: $secondary-bgColor !important;
  color: $secondary-fontColor !important;
  box-shadow: 5px 0px 15px lightgrey;
}
.topbar {
  @include flex-center(row);
  color: $main-fontColor;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 123;
  padding: 1rem 5rem;
  transition: 0.5s;
  scroll-behavior: smooth;

  > * {
    position: relative;
  }

  .wrapper {
    @include flex-center(row);
    justify-content: space-between;
    width: 100%;

    .left {
      .logo {
        @include flex-center(row);
        font-size: 2rem;
        font-weight: 600;
        a {
          &:hover {
            color: $menus-fontHoverColor;
          }
        }
      }
    }

    .right {
      .menus {
        ul {
          @include flex-center(row);
          text-decoration: none;

          li {
            @include flex-center(row);
            width: 100px;
            font-size: 0.9rem;
            font-weight: 400;

            a {
              &:hover {
                font-weight: 500;
                color: $menus-fontHoverColor;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .topbar {
    .wrapper {
      // .left{

      // }

      .right {
        .menus {
          display: none;
        }
      }
    }
  }
}
