@import "../../global.scss";

.sticky {
  height: 70px !important;
  background-color: $secondary-bgColor !important;
  color: $secondary-fontColor !important;
  box-shadow: 5px 0px 15px lightgrey;
}
.topbar {
  @include flex-center(row);
  color: $main-fontColor;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 123;
  padding: 1rem 5rem;
  transition: 0.5s;
  scroll-behavior: smooth;

  .wrapper {
    @include flex-center(row);
    justify-content: space-between;
    width: 100%;

    .left {
      .toggleBtn {
        display: none;
      }
      .logo {
        @include flex-center(row);
        font-size: 2rem;
        font-weight: 600;
        a {
          &:hover {
            color: $menus-fontHoverColor;
          }
        }
      }
    }

    .right {
      .menus {
        ul {
          @include flex-center(row);
          text-decoration: none;

          li {
            @include flex-center(row);
            width: 100px;
            font-size: 0.9rem;
            font-weight: 400;

            a {
              &:hover {
                font-weight: 500;
                color: $menus-fontHoverColor;
              }
            }
          }
          .resume-btn {
            border-radius: 8px;
            padding: 5px 10px;
            background-color: $menus-fontHoverColor;

            &:hover {
              background-color: #3f3d56;
            }
            a {
              @include flex-center(row);
              gap: 5px;
              color: white;
            }
            a:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
// =========== Media Query Adding below ===============
@media screen and (min-width: 1025px) and (max-width: 1125px) {
  .logo {
    a {
      font-size: 1.5rem;
    }
  }
}
@media screen and (min-width: 980px) and (max-width: 1025px) {
  .logo {
    a {
      font-size: 1.2rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .topbar {
    padding: 1rem 2rem;
  }
  .logo {
    a {
      font-size: 6vw;
    }
  }
}

@media screen and (max-width: 980px) {
  .active-topbar {
    height: fit-content;
    background-color: #f8f9fa;
  }
  .active-right {
    display: block !important;
    height: 286px !important;
  }
  .sticky {
    .wrapper {
      .active-right {
        display: none !important;
      }
    }
  }
  //  -----------------------------
  .topbar {
    background-color: $secondary-bgColor !important;
    color: $secondary-fontColor !important;
    box-shadow: 5px 0px 15px lightgrey;
    transition: all 0.5s;
    overflow-y: hidden;

    .wrapper {
      @include flex-center(column);
      gap: 10px;

      .left {
        @include flex-center(row);
        width: 100%;
        height: calc(100px - 2rem);
        justify-content: space-between;

        .logo {
          a {
            &:hover {
            }
          }
        }
        .toggleBtn {
          width: 55px;
          height: 38px;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          border: 1px solid white;
          padding: 4px 15px;
          border-radius: 4px;
          margin: 4px;
          &:hover {
            box-shadow: 0px 0px 4px white;
          }
        }
      }
      .right {
        width: 100%;
        display: none;

        .menus {
          ul {
            @include flex-center(column);
            gap: 10px;
            padding: 0px !important;
            li {
              width: 130px;
              a {
                padding: 10px;
                &:hover {
                }
              }
            }
            .resume-btn {
              &:hover {
              }
              a {
              }
              a:hover {
              }
            }
          }
        }
      }
    }
  }
}
