@import "../../global.scss";
.skills {
  @include flex-center(column);
  background-color: $skill-bgColor;
  color: $skill-fontColor;
  height: 80vh;
  padding-top: 70px;
  width: 100%;

  // position: relative;
  // top: 70px;
  > h1 {
    width: 100%;
    height: 20%;
    font-size: 3.75rem;
    text-align: center;
  }
  .skill-div {
    @include flex-center(row);
    column-gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 50px;
  }
}

// ------------------- InnerSkillDiv Styles ---------------
.inner-skill-div {
  @include flex-center(column);
  width: 100px;
  height: 100px;

  svg {
    font-size: 30px;
  }
}
