@import "../../global.scss";
.skills {
  @include flex-center(column);
  background-color: lightblue;
  // background-color: $main-bgColor;
  > h1 {
    background-color: $main-bgColor;
    width: 100%;
    text-align: center;
  }
  .skill-div {
    @include flex-center(row);
    column-gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 50px;
  }
}

// ------------------- InnerSkillDiv Styles ---------------
.inner-skill-div {
  @include flex-center(column);
  width: 200px;
  height: 200px;
  background-color: $main-bgColor;
  box-shadow: 0px 0px 5px black;
  border-radius: 50%;

  svg {
    font-size: 80px;
  }
}
