@import "../../global.scss";

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.first-div {
  width: 100%;
  min-height: 100vh;
}

.intro {
  @include flex-center(row);
  flex-wrap: wrap;
  word-wrap: normal;
  min-height: calc(100vh - 100px);
  padding: 100px 0px 0px;
  position: static;

  * {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .left {
    @include flex-center(column);
    justify-content: flex-start;
    width: 40%;
    min-height: 100%;
    color: $main-fontColor;

    .image {
      @include flex-center(row);
      width: 400px;
      height: 400px;
      margin: 20px;
      z-index: 1;
      img {
        width: 90%;
        object-fit: cover;
        height: 90%;
        border-radius: 50%;
      }
    }

    .designation {
      z-index: 1;
      @include flex-center(column);
      .mediaName {
        display: none;
      }

      h2 {
        padding: 4px 0px;
        font-size: 1em;
        font-weight: 400;
        color: gray;
      }
    }

    .social_handle {
      @include flex-center(row);
      margin-top: 10px;
      z-index: 1;

      a {
        padding: 5px;
        margin: 5px;
        font-size: 30px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        &:hover {
          background-color: $secondary-bgColor;
          color: $secondary-fontColor;
        }
      }
    }
  }

  .right {
    @include flex-center(column);
    width: 60%;
    min-height: 100%;

    justify-content: flex-start;
    align-items: flex-start;
    color: $main-fontColor;

    .introduction {
      @include flex-center(column);
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
      min-height: 50%;
      width: 100%;
      h1 {
        font-size: 50px;
        font-weight: bolder;

        .wave {
          animation-name: wave-animation;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          transform-origin: 70% 70%;
          display: inline-block;
        }
      }
      > div {
        font-size: 32px;
        color: #6c63ff;
        display: flex;
        gap: 10px;
        font-weight: 500;
      }
      p {
        line-height: 1.4em;
        font-size: 1.2em;
        padding: 10px 0px;
        font-weight: 500;
        color: darkslategray;
        font-family: cursive;
        overflow: hidden;
      }
    }

    .education {
      @include flex-center(column);
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
      margin-top: 20px;
      min-height: 50%;
      width: 100%;

      .edu-content {
        .edu-div {
          @include flex-center(row);
          justify-content: flex-start;
          align-items: flex-start;
          margin: 10px 0px;
          svg {
            font-size: 30px;
            margin: 5px;
          }
          h3 {
            font-weight: 400;
            font-size: 1em;
            padding: 3px;
          }
          p {
            font-weight: 400;
            font-size: 0.8em;
            color: gray;
            padding: 3px;
          }
        }
      }
    }
  }
}

// ======== Responsive design ====================
@media screen and (max-width: 900px) {
  .first-div {
    min-height: fit-content;
    height: fit-content;
  }
  .intro {
    @include flex-center(column); //
    padding: 110px 0px 0px;
    flex-wrap: nowrap; //
    word-wrap: normal;
    height: fit-content; //
    position: static; //

    > * {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .left {
      width: 100%; //
      height: fit-content; //

      .image {
        width: 180px; //
        height: 180px; //
        margin: 5px; //
      }

      .designation {
        .name {
          display: none;
        }
        .mediaName {
          display: block;
          text-align: center;
          font-size: 1.5em;
          font-weight: bold;
          .wave {
            animation-name: wave-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
            display: inline-block;
          }
        }

        h2 {
        }
      }

      .social_handle {
        @include flex-center(row);
        margin-top: 10px;
        z-index: 1;

        a {
          padding: 5px;
          margin: 5px;
          font-size: 30px;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border-radius: 50%;
          &:hover {
            background-color: $secondary-bgColor;
            color: $secondary-fontColor;
          }
        }
      }
    }

    .right {
      @include flex-center(column);
      width: 100%; //
      height: fit-content; //
      justify-content: flex-start;
      align-items: center; //
      color: $main-fontColor;

      .introduction {
        height: fit-content; //
        width: 100%;
        h1 {
          display: none;
        }
        > div {
          width: 100%;
          font-size: 1.4em; //
          justify-content: center;
        }
        p {
          line-height: 1.3em; //
          font-size: 1.2em;
          text-align: justify;
          padding: 20px 15px 10px;
          font-weight: 500;
          color: darkslategray;
          font-family: cursive;
          overflow: hidden;
        }
      }

      .education {
        @include flex-center(column);
        align-items: center;
        margin-top: 5px; //
        height: fit-content; //

        .edu-content {
          .edu-div {
            @include flex-center(row);
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 0px;
            svg {
              font-size: 30px;
              margin: 5px;
            }
            h3 {
              font-weight: 400;
              font-size: 1em;
              padding: 3px;
            }
            p {
              font-weight: 400;
              font-size: 0.8em;
              color: gray;
              padding: 3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .introduction {
    > div {
      font-size: 1.2em !important;
    }
  }
}

/*
// ======= All selected class =======
.intro {
  

  * {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .left {
    

    

    .image {
      

      img {
        
      }
    }

    .designation {
      

      h2 {
        
      }
    }

    .social_handle {
    

      a {
       
        &:hover {
         
        }
      }
    }
  }

  .right {
   

    .introduction {
      
      h1 {
        
      
      }
      > div {
       
      }
      p {
        
      }
    }

    .education {
      

      .edu-content {
        .edu-div {
          
          svg {
           
          }
          h3 {
            
          }
          p {
            
          }
        }
      }
    }
  }
}

*/
