@import "../../global.scss";

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spinRadius {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.first-div {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.first-div-container-center {
  @include flex-center(column);
  padding-top: 9%;
}
// .first-div-container {
// }

.education {
  @include flex-center(column);
  justify-content: flex-start;
  align-items: flex-start;
  min-height: fit-content;
  min-width: 50%;
  padding: 15px;
  margin-top: 50px;
  p {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: $menus-fontHoverColor;
  }
  .edu-content {
    .edu-div {
      @include flex-center(row);
      margin: 10px 0px;

      svg {
        font-size: 30px;
        margin: 5px 10px 5px 0px;
        color: #767676;
      }
      h1 {
        font-weight: 400;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 3px;
        color: #767676;
      }
    }
  }
}

.intro {
  @include flex-center(row);
  justify-content: flex-start;
  min-height: fit-content;
  min-width: 50%;
  position: static;
  * {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .left {
    @include flex-center(column);
    width: fit-content;
    min-height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    color: $main-fontColor;
    margin-right: 40px;

    .introduction {
      @include flex-center(column);
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
      min-height: 50%;
      width: 100%;
      h1 {
        font-size: 4em;
        font-weight: bolder;
        color: $contact-fontColor;

        .wave {
          animation-name: wave-animation;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          transform-origin: 60% 60%;
          display: inline-block;
          font-size: 48px;
        }
      }
      p {
        line-height: 1.4em;
        font-size: 1.2em;
        padding: 10px 0px;
        font-weight: 400;
        color: #767676;
      }
    }
    .social_handle {
      @include flex-center(row);
      gap: 12px;
      margin-top: 5px;

      color: #2d2e32 !important;
      z-index: 1;

      a {
        font-size: 30px;
        background-color: transparent;
        // overflow: hidden;
        &:hover {
          color: $menus-fontHoverColor;
        }
      }
    }
  }
  .right {
    @include flex-center(column);
    justify-content: flex-start;
    width: fit-content;
    min-height: 100%;
    .img-parent {
      @include flex-center(row);
      width: 300px;
      height: 300px;
      margin: 20px;
      z-index: 1;

      .image {
        -webkit-animation: spinRadius 8s ease-in-out infinite;
        animation: spinRadius 8s ease-in-out infinite;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #2d2e32;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        height: 100%;
        position: relative;
        transition: all 1s ease-in-out;
        width: 100%;
      }
    }
  }
}

// ======== Responsive design ====================
@media screen and (min-height: 800px) and (min-width: 700px) {
  .first-div-container-center {
    padding-top: 13%;
  }
}
@media screen and (min-width: 1600px) {
  .intro {
    .left {
      .introduction {
        h1 {
          font-size: 5.5em;
        }
        p {
          line-height: 1.8em;
          font-size: 1.4em;
        }
      }
    }
    .right {
      .img-parent {
        width: 350px;
        height: 350px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .dn {
    display: none;
  }
  #break-year {
    display: block !important;
  }
  .education {
    @include flex-center(column);
    margin-top: 20px;
    p {
      font-size: 22px;
    }
    .edu-content {
      .edu-div {
        margin: 16px 0px 10px;

        svg {
          font-size: 40px;
          margin: 0px 10px 0px 0px;
        }
        h1 {
          font-size: 1.4em;
          text-align: center;
        }
      }
    }
  }

  .intro {
    @include flex-center(column-reverse);

    .left {
      @include flex-center(column);
      margin-right: 0px;

      .introduction {
        @include flex-center(column);
        text-align: center;
        h1 {
          font-size: 4.4em;
        }
        p {
          line-height: 1.8em;
          font-size: 1.4em;
        }
      }
      .social_handle {
        @include flex-center(row);
        gap: 14px;
        margin-top: 10px;
        a {
          font-size: 40px;
        }
      }
    }
    .right {
      .img-parent {
        width: 350px;
        height: 350px;

        // .image {
        // }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .first-div-container-center {
    padding-top: 15%;
  }
  .education {
    @include flex-center(column);
    margin-top: 20px;
    p {
      font-size: 20px;
    }
    .edu-content {
      .edu-div {
        margin: 16px 0px 10px;

        svg {
          font-size: 40px;
          margin: 0px 10px 0px 0px;
        }
        h1 {
          font-size: 1em;
          text-align: center;
        }
      }
    }
  }

  .intro {
    @include flex-center(column-reverse);

    .left {
      @include flex-center(column);
      margin-right: 0px;

      .introduction {
        @include flex-center(column);
        text-align: center;
        h1 {
          font-size: 4em;
        }
        p {
          line-height: 1.4em;
          font-size: 1.2em;
        }
      }
      .social_handle {
        @include flex-center(row);
        gap: 14px;
        margin-top: 10px;
        a {
          font-size: 40px;
        }
      }
    }
    .right {
      .img-parent {
        width: 250px;
        height: 250px;

        // .image {
        // }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .first-div-container-center {
    padding-top: 22%;
  }
  .education {
    @include flex-center(column);
    margin-top: 20px;
    p {
      font-size: 20px;
    }
    .edu-content {
      .edu-div {
        @include flex-center(column);
        margin: 16px 0px 10px;

        svg {
          font-size: 40px;
          margin: 0px 10px 0px 0px;
        }
        h1 {
          font-size: 1em;
          text-align: center;
        }
      }
    }
  }

  .intro {
    @include flex-center(column-reverse);

    .left {
      @include flex-center(column);
      margin-right: 0px;

      .introduction {
        @include flex-center(column);
        text-align: center;
        h1 {
          font-size: 2em;
          .wave {
            font-size: 28px;
          }
        }
        p {
          line-height: 1.2em;
          word-wrap: break-word;
          font-size: 1.1em;
        }
      }
      .social_handle {
        @include flex-center(row);
        gap: 14px;
        margin-top: 10px;
        a {
          font-size: 40px;
        }
      }
    }
    .right {
      .img-parent {
        width: 200px;
        height: 200px;

        // .image {
        // }
      }
    }
  }
}
