@import "../../global.scss";
.footer {
  height: 60px !important;
  width: 100%;
  background-color: $footer-bgColor;
  color: $footer-fontColor;
  padding: 0.5rem 4rem;
  @include flex-center(row);

  .left {
    width: 40%;
    svg {
      color: lightblue;
      margin: 0px 8px;
    }
  }

  .right {
    @include flex-center(row);
    width: 60%;
    column-gap: 5px;
    justify-content: flex-end;

    .number,
    .email {
      @include flex-center(row);
      a {
        @include flex-center(row);
      }
      svg {
        font-size: 25px;
        margin: 2px 10px;
      }
    }
    .number {
      svg {
        color: #04aa6d;
      }
    }
    .email {
      svg {
        color: blueviolet;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    height: fit-content !important;
    padding: 10px;
    @include flex-center(column);
    flex-direction: column-reverse;

    .left {
      width: 100%;
      @include flex-center(row);
      font-size: small;
      padding: 10px 20px;
    }

    .right {
      @include flex-center(row);
      width: 100%;
      padding: 10px 20px;
      font-size: small;
      column-gap: 5px;
      justify-content: center;

      .number,
      .email {
        // a {

        // }
        svg {
          font-size: 20px;
        }
      }
    }
  }
}
