@import "./global.scss";

.app {
  min-height: 100vh;
  // max-height: fit-content;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    // height: fit-content;
    background-color: white;
    position: relative;
    top: 70px;

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      // height: fit-content;
    }
  }
}
