@import "./global.scss";

.app {
  position: relative;
  min-height: fit-content;
  width: 100%;
  background-color: $main-bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .app {
    min-height: fit-content;
    height: fit-content;
  }
}
