// ------ TopBar Color ------------------
$menus-fontHoverColor: #147efb; //#6c63ff;

// ----------- Main theme Colors ------------
$main-bgColor: white;
$secondary-bgColor: #2d2e32; //2d2b3e
$main-fontColor: black;
$secondary-fontColor: white;

// ----------- Skills Section Colors ------------

// ------ Contact Section Colors -----------------
$contact-bgColor: white;
$contact-fontColor: #2d2e32;
$contact-bdrColor: #147efb; //#6c63ff;
$contact-bdrHoverColor: #191924;

// -------- Footer Section Colors ---------------------
$footer-bgColor: #2d2e32;
$footer-fontColor: white;
// -------------------------------------------------------------------

@mixin flex-center($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}
* {
  // scroll-snap-type: y mandatory;
  // scroll-snap-align: start;

  &::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: lightgray;
  }
  // ::-webkit-scrollbar-thumb:hover {
  //   background: rgb(154, 154, 35);
  // }
}
h1 {
  font-size: 1.75em;
  font-weight: 500;
  padding: 10px 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
